
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-aMP {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .frame-2-oV3 {
    box-sizing: border-box;
    padding: 4.3rem 16.1rem 4.3rem 14.6rem;
    width: 100%;
    height: 117.4rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .frame-22-5L5 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100.6013rem;

      .frame-21-o1B {
        margin-bottom: 6.5rem;
        height: 5.4rem;
        display: flex;
        column-gap: 4.2rem;
        align-items: center;
        flex-shrink: 0;

        .auto-group-2ndo-itq {
          justify-content: center;
          background-color: #f59729;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          border-radius: 1.2rem;
          width: 17.7rem;
          height: 100%;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
        }
        .auto-group-s87b-vk1 {
          height: 100%;
          font-size: 3.6rem;
          display: flex;
          background-color: #f59729;
          width: 21.6rem;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          border-radius: 1.2rem;
          flex-shrink: 0;
          white-space: nowrap;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .auto-group-7t6m-22M {
          font-size: 3.6rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          border-radius: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          align-items: center;
          background-color: #f59729;
          flex-shrink: 0;
          width: 21.6rem;
          justify-content: center;
          height: 100%;
        }
      }
      .frame-6-WTK {
        width: 100%;
        height: 88.7013rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-5-FQu {
          margin: 21.536rem 12.4rem 25.237rem 0rem;
          width: 69.2rem;
          height: calc(100% - 46.7727rem);
          flex-shrink: 0;

          .frame-4-yLu {
            margin-bottom: 2.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .hello-im-rio-tristanto-guX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 6.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
            }
            .graphic-designer-Pow {
              flex-shrink: 0;
              font-size: 6.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #f59729;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .my-work-focuses-on-making-sketches-posters-and-illustrations-y1T {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 67.4rem;
              font-size: 4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
            }
          }
          .frame-3-4ob {
            width: calc(100% - 1.9rem);
            height: 7.9286rem;
            display: flex;
            align-items: center;
            margin-right: 1.9rem;

            .vector-nUh {
              width: 11.1rem;
              height: 7.9286rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-pyad-KjX {
              box-sizing: border-box;
              padding: 0.829rem 0rem 0.864rem 2.5rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-pf5k-4BK {
                margin-right: 2.5rem;
                width: 26.1rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .rectangle-37-QFB {
                  width: 26.1rem;
                  height: 6.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.0357rem;
                  background-color: #f59729;
                  border-radius: 1.8rem;
                }
                .illustration-Kd3 {
                  height: 6rem;
                  left: 3.5rem;
                  color: #ffffff;
                  white-space: nowrap;
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  width: 20.9rem;
                  position: absolute;
                  top: 0;
                  font-size: 4rem;
                }
              }
              .auto-group-7cft-qLV {
                width: 25.1rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .rectangle-38-Pcu {
                  width: 25.1rem;
                  height: 6.2rem;
                  position: absolute;
                  left: 0;
                  top: 0.0357rem;
                  background-color: #f59729;
                  border-radius: 1.8rem;
                }
                .design-XUD {
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  width: 13.7rem;
                  position: absolute;
                  left: 5.5rem;
                  top: 0;
                  font-size: 4rem;
                  color: #ffffff;
                  white-space: nowrap;
                  height: 6rem;
                }
              }
            }
          }
        }
        .auto-group-8bbf-dGM {
          width: 79.7rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-39-Bof {
            width: 75.3rem;
            height: 85rem;
            position: absolute;
            left: 4.4rem;
            top: 0;
            background-color: #eb8e22;
          }
          .img20230605205212-1-jKP {
            left: 0;
            top: 4.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 74.2368rem;
            height: 83.9013rem;
            position: absolute;
          }
        }
      }
    }
  }
  .frame-7-qdK {
    height: 124.5rem;
    position: relative;
    overflow: hidden;
    background-color: #f19129;
    flex-shrink: 0;
    width: 192.7rem;

    .pinterest-xhw {
      top: 94.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 92.9rem;
    }
    .frame-35-VC5 {
      left: 43rem;
      top: 14.7rem;
      width: 107rem;
      height: 83.5rem;
      position: absolute;

      .frame-11-2C1 {
        margin-bottom: 6.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .you-can-contact-me-for-create-creative-design-Zxd {
          margin-bottom: 1.9rem;
          max-width: 83.4rem;
          text-align: center;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 400;
          flex-shrink: 0;
        }
        .auto-group-4sss-4eV {
          border-radius: 9.2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 7.9rem 13.1rem 8.8rem 10.1rem;
          width: 100%;
          height: 46.7rem;
          background-color: #ffffff;

          .communication-between-designers-and-consumers-is-something-i-prioritize-we-believe-in-client-involvement-we-will-work-closely-with-you-to-ensure-every-detail-meets-your-expectations-PRs {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 83.8rem;
            font-size: 4rem;
          }
        }
      }
      .auto-group-4hms-RdT {
        width: calc(100% - 2.8rem);
        height: 9rem;
        display: flex;
        align-items: center;
        margin: 0rem 2.4rem 0rem 0.4rem;

        .auto-group-kdfx-9ZT {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 5.5rem 0rem 0rem;
          height: 100%;

          .frame-32-VNR {
            margin-right: 6rem;
            width: 25rem;
            height: 8.3rem;
            position: relative;
            flex-shrink: 0;

            .instagram-qhB {
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 8rem;
              height: 8rem;
              position: absolute;
            }
            .rectangle-41-o8D {
              left: 8rem;
              top: 0;
              background-color: #272727;
              border-radius: 2.3rem;
              width: 17rem;
              height: 8.3rem;
              position: absolute;
            }
            .failrio-vTj {
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              left: 9.6rem;
              top: 1.8rem;
              position: absolute;
              font-size: 3.2rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              width: 12.1rem;
              height: 4.8rem;
            }
          }
          .frame-33-EjK {
            width: 33.5rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .behance-ywo {
              width: 8.5rem;
              height: 8.5rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
            .rectangle-42-XiR {
              left: 8.5rem;
              top: 0;
              background-color: #272727;
              border-radius: 2.3rem;
              width: 25rem;
              height: 8.6rem;
              position: absolute;
            }
            .rio-tristanto-UNm {
              position: absolute;
              left: 10.7rem;
              line-height: 1.5;
              color: #ffffff;
              white-space: nowrap;
              width: 19.7rem;
              height: 4.8rem;
              top: 1.9rem;
              font-size: 3.2rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .frame-34-agh {
          width: 34.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .pinterest-YNd {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 9rem;
            height: 9rem;
          }
          .rectangle-43-thP {
            border-radius: 2.3rem;
            width: 25.2rem;
            height: 8.6rem;
            position: absolute;
            left: 9rem;
            top: 0.4rem;
            background-color: #272727;
          }
          .rio-tristanto-Qvd {
            font-size: 3.2rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 19.7rem;
            height: 4.8rem;
            position: absolute;
            left: 11.9rem;
            top: 2.2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .auto-group-97yt-iAd {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.8rem 8.8rem 4.7rem 11rem;
    width: 100%;
    align-items: center;

    .frame-13-3ih {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 24.1rem 15.9rem 23.2rem;
      width: calc(100% - 47.3rem);
      height: 62.6rem;
      overflow: hidden;

      .frame-18-xqf {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .software-KRK {
          font-weight: 700;
          line-height: 1.3625;
          color: #f59729;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 12.3rem;
          font-size: 9rem;
        }
        .frame-17-3s7 {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 38rem;
          display: flex;

          .auto-group-ugdp-btd {
            box-sizing: border-box;
            padding: 2.5rem 18.1rem 0rem 0rem;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .frame-14-XGV {
              margin-right: 18.1rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .photoshop5968520-1-Gjs {
                margin-bottom: 6.2rem;
                width: 21.1rem;
                height: 21.1rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .photoshop-zvm {
                font-weight: 600;
                line-height: 1.3625;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 6rem;
              }
            }
            .frame-15-LUq {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .illustrator5968472-1-Hus {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 5.5rem;
                width: 21.8rem;
                height: 21.8rem;
              }
              .illustrator-dTw {
                font-size: 6rem;
                font-weight: 600;
                line-height: 1.3625;
                color: #000000;
                font-family: Open Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-16-NRX {
            flex-shrink: 0;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .image-2-XpD {
              flex-shrink: 0;
              margin-bottom: 3.7rem;
              width: 26.1rem;
              height: 26.1rem;
              object-fit: cover;
              vertical-align: top;
            }
            .procreate-553 {
              font-weight: 600;
              line-height: 1.3625;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 6rem;
            }
          }
        }
      }
    }
    .frame-19-QND {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .frame-26-kS5 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 8.7rem 18.9rem 0rem;
        width: 163.5rem;
        align-items: center;
        display: flex;

        .my-work-tYH {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 6.5rem 9.4rem;
          font-size: 9rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f59729;
          font-family: Poppins, 'Source Sans Pro';
        }
        .frame-24-oQM {
          flex-shrink: 0;
          width: 100%;
          height: 63.2rem;
          display: flex;
          align-items: center;

          .image-1-Z8d {
            width: 84.3rem;
            height: 63.2rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 7.4rem;
          }
          .frame-23-VY5 {
            margin: 19.6rem 0;
            height: calc(100% - 39.2rem);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-jnim-eA5 {
              width: 55.3rem;
              font-weight: 600;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              align-items: center;
              flex-shrink: 0;
              font-size: 5.5rem;
              line-height: 1.5;
              background-color: #ee741c;
              height: 11.3rem;
              color: #000000;
              margin-bottom: 0.7rem;
              white-space: nowrap;
              justify-content: center;
              border-radius: 1.2rem;
            }
            .this-magazine-contains-information-about-bmw-m-series-cars-Kn1 {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 71.8rem;
              font-size: 4rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
      .frame-27-EPB {
        margin: 0rem 36.3rem 11.7rem 34rem;
        width: calc(100% - 70.3rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-npld-And {
          margin: 0rem 27.6rem 5.6rem 27.6rem;
          width: calc(100% - 55.2rem);
          display: flex;
          font-weight: 600;
          color: #000000;
          align-items: center;
          background-color: #ee741c;
          font-size: 5.5rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          border-radius: 1.2rem;
          flex-shrink: 0;
          height: 11.3rem;
          line-height: 1.5;
        }
        .design-posters-can-be-used-for-commercial-purposes-whether-advertising-products-or-services-according-to-the-customers-wishes-cuX {
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 101.9rem;
        }
      }
      .frame-28-ts3 {
        margin: 0rem 0rem 14.7rem 2.2rem;
        width: 170rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-q4do-Rry {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 8.3rem;
          width: 100%;

          .auto-group-mgyq-BbF {
            margin: 0rem 11.9rem 8.3rem 0rem;
            width: calc(100% - 11.9rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .riotristantotugasrevisual-1-WdX {
              height: 104.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5.1rem;
              flex-shrink: 0;
              margin-right: 10.5rem;
              width: 73.9rem;
            }
            .riotristanto2123046poster-png-1-pu7 {
              object-fit: cover;
              vertical-align: top;
              border-radius: 3.9rem;
              flex-shrink: 0;
              width: 73.7rem;
              height: 104.2rem;
            }
          }
          .auto-group-wp4z-9gV {
            align-items: center;
            flex-shrink: 0;
            margin-right: 5rem;
            width: calc(100% - 5rem);
            display: flex;

            .posterpractice1-1-JJV {
              margin-right: 10.5rem;
              width: 77.2rem;
              height: 109.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 4.7rem;
              flex-shrink: 0;
            }
            .jaguarxj220-01-1-qJR {
              width: 77.3rem;
              height: 109.2rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-98l9-aG1 {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .contrasposter1-1-8YR {
            height: 113.4rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 5.8rem;
            flex-shrink: 0;
            margin-right: 10.5rem;
            width: 80.3rem;
          }
          .bmwm4daytonaposter2-02-1-4S5 {
            flex-shrink: 0;
            width: 79.2rem;
            height: 99.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .frame-29-CHP {
        margin: 0rem 36.7rem 9.5rem 34.4rem;
        width: calc(100% - 71.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-ejch-L8h {
          margin: 0rem 27.2rem 4.8rem 27.2rem;
          flex-shrink: 0;
          width: calc(100% - 54.4rem);
          font-weight: 600;
          border-radius: 1.2rem;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          align-items: center;
          background-color: #ee741c;
          height: 11.3rem;
          font-size: 5.5rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          display: flex;
        }
        .i-draw-illustrations-based-on-personal-projects-and-as-learning-materials-Bv1 {
          flex-shrink: 0;
          max-width: 101.1rem;
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .frame-30-tZX {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 26rem 0rem 18.7rem;
        width: calc(100% - 44.7rem);
        align-items: center;
        display: flex;

        .img1267-1-RpM {
          margin-bottom: 10.6rem;
          width: 127.5rem;
          height: 71.7rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 4.9rem;
          flex-shrink: 0;
        }
        .image-3-mNR {
          flex-shrink: 0;
          width: 69.5rem;
          height: 85.9rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2.4rem;
        }
      }
    }
  }
  .frame-20-6fb {
    height: 83.6rem;
    position: relative;
    overflow: hidden;
    background-color: #f59729;
    flex-shrink: 0;
    width: 100%;

    .you-can-eh7 {
      height: 8.3rem;
      position: absolute;
      left: 82.8rem;
      font-size: 5.5rem;
      line-height: 1.5;
      color: #000000;
      width: 22.3rem;
      top: 23rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-31-xSu {
      height: 53.5rem;
      position: absolute;
      left: 50.6rem;
      top: 14.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 87.6rem;

      .if-you-are-interested-of-my-work-Hzy {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-uqjf-DNq {
        box-sizing: border-box;
        padding: 11rem 7.3rem 0rem 8.6rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-khi9-kNm {
          font-family: Poppins, 'Source Sans Pro';
          height: 14.9rem;
          display: flex;
          flex-shrink: 0;
          background-color: #000000;
          border-radius: 1.7rem;
          margin: 0rem 13.55rem 11rem 15.35rem;
          font-size: 5.5rem;
          font-weight: 600;
          justify-content: center;
          align-items: center;
          width: calc(100% - 28.9rem);
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
        }
        .riotristanto29gmailcom-dBf {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5.5rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}
